.wrapper {
  height: 300px;
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
}

.header {
  height: 20px;
  padding: 5px;
}

.notice {
  font-size: 14px;
  padding: 5px;
  display: inline-block;
}

.closeBtn {
  margin-top: 3px;
  float: right;
  border: none;
  outline: none;
  background-color: #00ff0000;
  cursor: pointer;
}

.body {
  margin-left: 10px;
  height: 238px;
  width: 475px;
  overflow-y: auto;
  word-break: break-all;
}

.body::-webkit-scrollbar {
  width: 10px;
}

.body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

.body::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

.body::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}

.inputWrapper {
  padding: 5px;
}

.input {
  width: 92%;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  outline: none;
}

.commentBtn {
  margin-top: -30px;
  float: right;
  border: none;
  outline: none;
  background-color: #00ff0000;
  cursor: pointer;
}

.chat {
  font-size: 14px;
}

.nickname {
  font-weight: bold;
  display: inline-block;
}

.myname {
  font-weight: bold;
  color: blue;
  display: inline-block;
}

.none {
  display: none;
}
