.wrapper {
    margin: 0 10px;
}

.cmtWrapper {
    margin: 10px;
}

.author {
    font-size: 14px;
    font-weight: bold;
}

.time {
    font-size: 12px;
    color: grey;
}

.content {
    margin: 10px 0;
    font-size: 14px;
}