.wrapper {
  margin: 50px 10px;
}

.readonly {
  display: inline-block;
  outline: none;
  width: 150px;
  border: solid 1px lightgrey;
  height: 20px;
  margin: 10px 10px 10px 0px;
}

.textArea {
  border: solid 1px lightgrey;
  width: 350px;
  height: 100px;
  display: block;
  margin: 10px 0;
}

.writeBtn {
  float: right;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
