.introUp {
  background-color: #1428a0;
  width: 95%;
  margin: auto;
  max-width: 500px;
  margin: 10px auto;
  font-family: 'Franklin Gothic Medium';
  border-radius: 10px;
  border: 3px solid #1428a0;
}

.introDown {
  background-color: white;
  width: 95%;
  margin: auto;
  max-width: 500px;
  margin: 10px auto;
  font-family: 'Franklin Gothic Medium';
  border-radius: 10px;
  border: 3px solid #1428a0;
}

.title {
  padding: 1px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.closeTitle {
  padding: 1px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #1428a0;
  color: white;
  border-radius: 5px;
}

.text {
  display: inline-block;
}

.icon {
  display: inline-block;
  margin-top: 3px;
  outline: none;
  border: none;
  background-color: #00ff0000;
}

.closeIcon {
  display: inline-block;
  margin-top: 3px;
  outline: none;
  border: none;
  background-color: #00ff0000;
  color: white;
}

.content {
  position: relative;
  padding: 0 10px 10px 10px;
  word-break: keep-all;
}

.bold {
  font-weight: bold;
}
