.background {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.modal {
  position: relative;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  margin: 30% auto;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.title {
  margin: 5px 0 0 5px;
  font-weight: bold;
  font-size: 15px;
}

.alertBtn {
  padding: 5px;
  background-color: #00ff0000;
  border: none;
  outline: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}
