.wrapper {
  width: 500px;
  margin: auto;
  padding-top: 120px;
  text-align: center;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
}

.startButton {
  font-size: 14px;
  font-weight: bold;
  background-color: grey;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px 10px 20px;
}

.startButton:hover {
  cursor: pointer;
}

.total {
  font-size: 12px;
  margin-top: 5px;
}
