.wrapper {
  max-width: 500px;
  width: 95%;
  height: 875px;
  margin: auto;
  margin-top: 1vh;
  padding-top: 3vh;
  text-align: center;
  position: relative;
  background-color: white;
  border: 3px solid #1428a0;
  border-radius: 15px;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.description {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
}

.startButton {
  font-size: 18px;
  /* font-weight: bold; */
  font-family: CookieRun-Regular;
  width: 66%;
  background-color: #1428a0;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 4% 8% 4% 8%;

  position: absolute;
  bottom: 3vh;
  right: 17%;
}

.startButton:hover {
  cursor: pointer;
}

.total {
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 550px) {
  .wrapper {
    height: 86vh;
  }
  .title {
    font-size: 20px;
    margin-bottom: 1vh;
  }
  .description {
    font-size: 14px;
    margin-bottom: 2vh;
  }
  .startButton {
    font-size: 2vh;
  }
}
