.wrapper {
  text-align: center;
}

.arrowBtn {
  border: none;
  outline: none;
  background-color: #00ff0000;
  cursor: pointer;
}

.btnWrapper {
  vertical-align: top;
  display: inline-block;
}

.btnNotClicked {
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  margin: 0 1px;
  border-radius: 2px;
}

.btnClicked {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 0 1px;
  border-radius: 2px;
}

.disabled {
  border: none;
  outline: none;
  color: lightgrey;
  background-color: #00ff0000;
}
