.wrapper {
  width: 500px;
  margin: auto;
}

.linkBtn {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  color: black;
  outline: none;
  border: none;
  display: block;
  margin: 10px auto;
  font-weight: bold;
}

.footer {
  margin-top: 100px;
  text-align: center;
}

.mbtiDiv {
  width: 100px;
  display: inline-block;
  margin: 5px;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.li {
  font-size: 14px;
}

.pairTitle {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
}

.goodsDesc {
  font-size: 14px;
  margin-bottom: 15px;
}

.headerIcon {
  border: none;
  background-color: #00ff0000;
  cursor: pointer;
}
