.wrapper {
  width: 500px;
  margin: auto;
  padding: 10px;
}

.menuIcon {
  float: right;
  margin-top: 10px;
  cursor: pointer;
  background-color: #00ff0000;
  border: none;
  outline: none;
}

.hr {
  margin-top: 10px;
  border: none;
  border-top: 1px solid lightgrey;
  width: 100%;
}

.detailArea {
  padding: 10px;
}

.title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.author {
  margin: 10px 0 20px 0;
  font-size: 12px;
  color: grey;
}

.contentArea {
  margin: 20px 0;
}

.content {
  font-size: 14px;
  line-height: 200%;
}

.imgWrapper {
  width: 100%;
  text-align: center;
}

.img {
  margin: 20px;
}

.detailBtn {
  float: right;
  margin-left: 10px;
  border: none;
  padding: 5px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
