.boardWrapper {
  margin: 10px 50px 50px 50px;
}

.titleLabel {
  display: block;
  font-size: 15px;
}

.titleInput {
  border: solid 1px lightgrey;
  height: 20px;
  width: 100%;
}

.contentLabel {
  display: block;
  font-size: 15px;
  margin-top: 12px;
}

.contentEditor {
  margin-left: 50px;
  margin-top: -22px;
}

.inputWrapper {
  margin-left: 50px;
  margin-top: -22px;
  margin-right: 6px;
}

.writeBtn {
  padding: 5px;
  margin: 15px 0;
  margin-left: 10px;
  float: right;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
}
