.shareTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.shareButtons {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.shareButton {
  outline: none;
  background: none;
  border: none;
  transition: all 250ms ease-in;
  width: 65px;
  height: 65px;
  margin: 10px;
  cursor: pointer;
}

.shareButton:hover {
  transform: scale(1.1);
}

.shareButtonImg {
  width: 45px;
  height: 45px;
}
