.wrapper {
  max-width: 500px;
  width: 95%;
  height: 83vh;
  margin: auto;
  margin-top: 50px;
  padding-top: 30px;
  position: relative;
  text-align: center;
  background-color: white;
  border: 3px solid #1428a0;
  border-radius: 15px;
}

.QuestionGauge {
  position: relative;
  width: 84%;
  height: 36px;
  margin: auto;
}

.GaugeLine {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
  background-color: #1428a0;
  border-radius: 2px;
  margin: 16px 0;
  opacity: 0.5;
}

.GaugeCircle {
  position: absolute;
  width: 32px;
  height: 32px;
  color: white;
  background-color: #1428a0;
  z-index: 2;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.QuestionText {
  padding: 20px 0 50px 0;
  margin: auto;
  margin-top: 5%;
  /* height:30vh; */
  text-align: center;
  /* word-break: keep-all; */
  width: 90%;
  font-size: 26px;
  font-weight: 800;
}

.AnswerButton {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 60px;
  font-size: 16px;
  word-break: keep-all;
  /* font-family: CookieRun-Regular; */
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: #1428a0;
  outline: none;
  border: none;
  display: block;
  padding: 5%;
}

.AnswerButton:hover {
  cursor: pointer;
}

.AnswerButtons {
  position: absolute;
  bottom: 4vh;
  width: 100%;
}

@media (width <= 550px) {
  .wrapper {
    margin-top: 2vh;
  }
  .QuestionText {
    font-size: 22px;
  }
  .QuestionGauge {
    width: 80%;
  }
  .AnswerButton {
    font-size: 14px;
  }
}
